* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::selection {
    background: rgb(255, 138, 27);
}

*::-webkit-scrollbar {
    display: none;
}

html {
    font-family: Gopher, sans-serif;
    font-size: 20px;
}

.main_wrapper {
    display: grid;
    grid-template-columns: 1fr 250px minmax(500px, 1200px) 1fr;
    grid-template-areas: 
        "lm nav proj rm"
        "lm nf  foot rm";
    gap: 50px;
}

/* Navbar */

header {
    grid-area: nav;
    max-width: 250px;
}

.nav_wrapper {
    min-width: 200px;
    position: sticky;
    top: 15vh;
}

.logo {
    display: block;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
}

.navbar {
    list-style-type: none;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    line-height: 2;
    position: relative;
}

.navbar a.tutaj {
    color: rgb(0, 0, 0);
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-color: rgb(255, 138, 27);
    visibility: hidden;
    transition: all 0.2s ease-out;
}

.navbar a:hover:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover {
    color: rgb(0, 0, 0);
}

.navbar a:active {
    color:  rgb(255, 138, 27);
}

/* Projects */

.projects_wrapper {
    grid-area: proj;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0;
}

.project {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.project:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

/* img in bg */
.overlay div {
    width: 100%;
    height: 100%;
    background-size: cover;
}

    /* imgs from projects */

    .overlay div.paradiso {
        background-image: url(img/hover_paradisoczb.png);
    }

    .overlay div.uczulenie {
        background-image: url(img/hover_uczulenie.png);
    }

    .overlay div.smartbee {
        background-image: url(img/hover_omi.png);
    }

    .overlay div.krwawica {
        background-image: url(img/hover_krwawica.png);
    }

    .overlay div.arcom {
        background-image: url(img/hover_arcom.png);
    }

    .overlay div.zkat {
        background-image: url(img/hover_zkat.png);
    }

    .overlay div.madrypolak {
        background-image: url(img/hover_mp.png);
    }



.overlay .opis {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 138, 27, 0.7);
    left: 0px;
    top: 0px;
    text-decoration: none;
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    margin: 0 auto;
    text-align: center;
}

.overlay:hover .opis{
    opacity: 1;
}

.overlay h2 {
    display: block;
    font-weight: 700;
    font-size: 3.5rem;
    position: absolute;
    line-height: 1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0 10%;
}

.overlay .typ {
    font-weight: 400;
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
    line-height: 1.3;
}

/* Footer */

footer {
    grid-area: foot;
    align-self: center;
}

footer img {
    max-height: 20px;
    margin: 1em 0;
    height: auto;
    width: 100%;
}

@media (max-width: 1200px) {
    .overlay h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 990px) {
    .overlay h2 {
        font-size: 2rem;
    }

    .main_wrapper {
        grid-template-columns: 200px 1fr;
        grid-template-areas: 
            "nav proj"
            "lr foot";
        gap: 0;
    }
}

@media (max-width: 850px) {
    .main_wrapper {
        grid-template-columns: 200px 1fr;
        grid-template-areas: 
            "nav proj"
            "lr foot";
        gap: 0;
    }

    .projects_wrapper {
        grid-template-columns: 1fr;
    }

    .overlay h2 {
        font-size: 3.5rem;
    }

    .overlay .opis {
        opacity: 1;
        background-color: transparent;
    }
}

@media (max-width: 576px) {
    .main_wrapper {
        grid-template-columns: minmax(375px, 1fr);
        grid-template-areas: 
            "nav"
            "proj"
            "foot";
        gap: 0;
    }

    .projects_wrapper {
        grid-template-columns: 1fr;
    }

    footer img {
        max-height: 10px;
        margin: 1em 0;
        height: auto;
        width: 100%;
    }
}