* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

*::selection {
  background: rgb(255, 138, 27);
}

html {
  font-family: Gopher;
  font-size: 20px;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

.nav_wrapper {
  padding: 2rem;
}

.logo {
  width: auto;
  height: 1rem;
  display: inline;
  padding-left: 2rem;
}

.navbar {
  list-style-type: none;
}

.navbar li {
  display: inline;
  padding-right: 2rem;
}

.rightfloat {
  float: right;
}

.navbar li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.navbar li a.tutaj {
  color: rgb(0, 0, 0);
}

.navbar li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: 0;
  z-index: -1;
  left: 0;
  background-color: rgb(255, 138, 27);
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.navbar li a:hover:before {
  visibility: visible;
  width: 100%;
}

.navbar li a:hover {
  color: rgb(0, 0, 0);
}

.navbar li a:active {
  color: rgb(255, 138, 27);
}

.intro {
  padding: 2rem 5rem;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

p {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

p.collabo {
  font-size: 1rem;
}

p.collabo .light {
  font-weight: 200;
}

.photo {
  width: 100vw;
  max-width: 100%;
  display: block;
}

footer img {
  max-height: 20px;
  margin: 2em 0;
  height: auto;
  width: 100%;
}

@media (max-width: 970px) {
  html {
    font-size: 17px;
  }

  footer img {
    max-height: 10px;
  }
}

@media (max-width: 830px) {
  header {
    position: initial;
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
    max-height: auto;
    text-align: center;
  }

  img.logo {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
  }

  .navbar .rightfloat {
    float: none;
    margin: auto;
  }

  .navbar li a:hover:before {
    visibility: hidden;
    width: 0%;
  }
}

@media (max-width: 470px), (max-width: 850px) and (orientation: landscape) {
  footer img {
    max-height: 10px;
    margin: 1em 0;
    height: auto;
    width: 100%;
  }

  header {
    margin: 0 auto;
    padding: 0;
    max-height: auto;
    background-color: transparent;
    position: static;
  }

  img.logo {
    max-height: 1rem;
    margin: 1rem auto;
    max-width: 170px;
    align-self: center;
    display: block;
    box-sizing: border-box;
  }

  .navbar {
    list-style-type: none;
  }

  .navbar li {
    padding-right: 0.5rem;
    font-size: 0.8rem;
  }

  .navbar li {
    padding-right: 0.5rem;
    font-size: 0.8rem;
  }

  .nav_wrapper {
    padding: 0;
  }

  p {
    font-size: 1rem;
  }

  .intro {
    padding: 1rem 2rem;
  }
}
